$blue: #1a3270;
$white_blue: #d9e3ff;
$white: #ffffff;
$gray: #919191;
// 버튼 내 텍스트 가운데 정렬되록 설정해야돼
.button {
	position: relative;
	border-radius: 5px;
	align-items: center;
	text-align: center;

	&:hover {
		cursor: pointer;
	}

	&.white {
		border: 2px solid $blue;
		box-sizing: border-box;
		background: $white;
	}

	&.blue {
		background: $blue;
	}

	&.header {
		width: 120px;
		height: 50%;
		top: 27%;
	}

	&.auth {
		&.basic {
			width: 85%;
			height: 10%;
			margin-left: 40px;
			background: $blue;
			text-align: center;

			&:first-child {
				position: relative;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 28.13px;
				color: $white;
			}

			&:disabled {
				background: lighten($blue, 35%);

				&:first-child {
					color: $white_blue;
				}
			}
		}

		&.social {
			top: 10px;
			width: 26.5%;
			height: 9%;
			margin-left: 40px;
			background: $white;
		}

		&.social + &.social {
			margin-left: 16px;
		}
	}

	&.view {
		// height: 59.5%;

		&.list {
			margin-top: 6.765%;
			width: 65%;
			height: 60%;
		}

		&.detail {
			margin-top: 4.325%;
			width: 65%;
			height: 60%;

			&#update {
				padding-top: 1.5%;
			}
		}

		&.small {
			margin-top: 5%;
			width: 18%;
			height: 60%;
			// left: -5%;
		}

		&.add {
			width: 89%;
			height: 60%;
			margin-top: 12.81%;
		}
	}

	&.write-post {
		&.small {
			width: 15%;
			height: 80%;
			margin-top: 1.2%;
			left: 4%;
		}

		&.big {
			width: 100%;
			height: 100%;
		}
	}

	& + & {
		margin-left: 10px;
	}

	&.file-change {
		&.select {
			width: 20%;
			height: 70%;
			margin-top: 2%;
		}

		&.confirm {
			width: 30%;
			height: 80%;
			margin-top: 1.4%;
			// margin-left: 25%;
		}

		& + & {
			margin-left: 3%;
		}
	}
}
