$blue: #1a3270;

.category-list {
	// position: relative;
	width: 19vw;
	height: 87vh;
	border-right: 2px solid $blue;
}

.category {
	margin-top: 7%;
	height: 5vh;

	&:hover {
		cursor: pointer;
	}

	& + & {
		margin-top: 3%;
	}
}
