$blue: #1a3270;

.category-list {
	// position: relative;
	width: 20%;
	height: 820px;
	border-right: 2px solid $blue;
}

.category {
	margin-top: 5%;

	&:hover {
		cursor: pointer;
	}

	& + & {
		margin-top: 6%;
	}
}
