$blue: #1a3270;
$white: #ffffff;
$gray: #919191;
$red: #ff0000;

@mixin text-color($color) {
	color: $color;
}

.text {
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;

	&.blue {
		@include text-color($blue);
	}

	&.white {
		@include text-color($white);
	}

	&.gray {
		@include text-color($gray);
	}

	&.bold {
		font-weight: bold;
		font-size: 18px;
		line-height: 134.77%;
	}

	&.user {
		height: 29px;
		font-size: 18px;
		line-height: 24px;
		top: 35%;
		right: 3%;
	}

	&.auth {
		height: 29px;
		font-size: 20px;
		line-height: 28.13px;

		&.social {
			top: 3px;
			@include text-color($gray);
		}

		&.go-signup {
			display: flex;
			left: 40px;
			top: 20px;
			font-size: 16px;
			line-height: 134.77%;
		}

		&.error-message {
			height: 20px;
			left: 40px;
			font-size: 16px;
			line-height: 134.77%;
			margin: -1px 0px 8px -1px;
			@include text-color($red);
		}
	}

	&.category {
		left: 4%;
		top: 16%;
	}

	&.post-list {
		&.small {
			top: 3%;
			font-size: 1.2vw;
			line-height: 19px;
		}

		&.check {
			left: 0.5%;
			font-weight: bold;
			font-size: 1.1vw;
		}
	}

	&.date {
		height: 60%;
		// left: 75%;
		margin-right: 2%;
		top: 26%;
		font-size: 1.3vw;
		line-height: 19px;
	}

	&.title {
		height: 60%;
		top: 19%;
		// margin-left: 1.5%;
	}

	&.post-detail {
		// left: 1%;
		font-size: 1vw;

		&.title {
			top: 0%;
			left: 0%;
			font-size: 2vw;
		}

		&.keyword {
			margin-right: 0.5%;
		}

		&.date {
			top: 0.5vw;
		}

		&.subject-title {
			display: block;
			font-size: 1.3vw;
		}

		&.subject-content {
			font-size: 1.2vw;
		}
	}

	&.no-post {
		top: 10%;
		font-weight: bold;
	}

	&.select-small {
		top: 6%;
		font-size: 12px;
	}

	&.select-big {
		top: 18%;
		font-size: 15px;
	}

	&.file-name {
		left: 1%;
		top: 16%;
		font-size: 13.5px;
		&.change {
			top: 27%;
			font-size: 14px;
		}
	}

	&.description {
		font-size: 1vw;
	}

	&.write-post {
		font-size: 1.2vw;
	}

	&.modal-title {
		font-size: 1.8vw;
		margin-left: 2%;
		margin-top: 5%;
	}
}
